@tailwind base;
@tailwind components;
@tailwind utilities;

.card {
  border: #e4dfdf solid 1px;
  border-radius: 10px;
}

input::placeholder {
  color: #d9d9d9; /* لون الـ placeholder */
  font-family: "Inter", sans-serif; /* الخط */
  font-size: 16px; /* حجم الخط */
  font-weight: 400; /* وزن الخط */
  line-height: normal; /* ارتفاع السطر */
}

#\:R79j6H1\: {
  background-color: transparent;
}

#\:R79j6H1\: > span > svg {
  color: black !important; /* أو أي لون تريده */
}

.active {
  color: #ff9900 !important;
}

body > nav > div > div > ul {
  align-items: center;
}

body > div > nav > div {
  margin-inline: auto !important;
}

body > div > div > div > ul {
  margin: -15px 0 !important;
}

body > div > div > div > ul > li {
  width: 16px;
  height: 16px;
  background-color: #d9d9d9;
  border-radius: 50px;
}
nav.secondNav > div > div > ul {
  align-items: center;
}
.card-hover:hover {
  transform: scale(0.9);
  transition: transform 0.3s ease;
  z-index: 10; /* تأكد من أن العنصر يظهر فوق العناصر الأخرى */
}

.register {
  background-image: url("../../src/images/background-dark-gradient-overlay-with-grid\ 1.png");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.slick-prev,
.slick-next {
  font-size: 24px;
  color: #000;
}
.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
  color: #ccc;
}
.slick-prev:before,
.slick-next:before {
  display: none;
}

.bestSelling {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  border-top: 90px solid orange;
  border-top-left-radius: 6px;
  border-left: 0px solid transparent;
  border-right: 90px solid transparent;
  border-bottom: 90px solid transparent;
  text-align: center;
  color: white;
  font-size: 12px;
  font-weight: bold;
  z-index: 2;
}
.bestSelling::before {
  content: "Best Selling";
  position: absolute;
  top: -80px;
  left: 3px;
  transform: rotate(-45deg);
  font-size: 12px;
  font-weight: bold;
  color: white;
}

body > div > div > div > nav > ul {
  gap: 15px;
}

body > div > div > div > nav > ul > li > button {
  background-color: #c4c4c4 !important;
  border-radius: 50%;
  width: 40px !important;
  height: 40px;
  font-weight: bold;
}

body > div > div > div > nav > ul > li:nth-child(1) > button,
body > div > div > div > nav > ul > li:nth-child(7) > button {
  background-color: transparent !important;
  border: none;
  display: flex;
  align-items: center;
  color: #000 !important;
  font-size: 20px;
}

.text-cyan-600{
  background-color: #FF9900 !important;
  color: #fff;
}
.text-gray-500{
  color: #fff;
}

input[type='radio']:checked{
  background-image: none;
  background-color: #FF9900  !important;
  border: none;
}

input[type='radio']{
  background-color: #ccc !important;
}